@model MovieShop.Core.Models.Response.MovieDetailsResponseModel
@using System.Globalization

@{
    ViewData["Title"] = "Details";
}

<div class="bg-dark w-100" )">

    <div class="row">
        <div class="col">
            <div>
                <img src="@Model.PosterUrl" alt="@Model.Title" />
            </div>

        </div>
        <div class="col-md-6">
            <div class="row mt-2">
                <div class="col-12">
                    <h1 class="text-white text-center">
                        @Model.Title
                    </h1>
                    <small class="text-muted"> @Model.Tagline </small>
                </div>

            </div>

            <div class="row">
                <div class="col-4 text-secondary font-weight-bold mt-2">
                    @Model.RunTime m | @Model.ReleaseDate.Value.Date.Year
                </div>
                <div class="col-8 bg-dark text-white">

                    @foreach (var genre in Model.Genres)
                    {
                        <a class="badge badge-pill badge-dark ml-1" asp-action="Genre" asp-route-id="@genre.Id">
                            @genre.Name
                        </a>
                    }
                </div>
            </div>


            <div class="row">
                <div class="col-12 text-light mt-2">
                    @Model.Overview
                </div>
            </div>
        </div>

        <div class="col">
            <ul class="list-group">
                <li class="list-group-item">
                    <button type="button"
                            class="btn btn-outline-dark bg-dark text-white btn-block btn-sm">
                        <i class="far fa-edit mr-1"></i>
                        REVIEW
                    </button>
                </li>
                <li class="list-group-item">
                    <button type="button"
                            class="btn btn-outline-dark bg-dark text-white btn-block btn-sm">
                        <i class="fas fa-play mr-1"></i> TRAILER
                    </button>
                </li>

                <li class="list-group-item">
                    <a class="btn btn-outline-dark btn-light btn-lg btn-block btn-sm" asp-route-id="@Model.Id" asp-controller="User" asp-action="BuyMovie">
                        BUY @Model.Price
                    </a>

                    <a  class="btn btn-outline-dark btn-light btn-lg btn-block btn-sm">
                        WATCH MOVIE
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>


<div class="row mt-4">
    <div class="col-4 moviefacts">
        <h5>MOVIE FACTS</h5>
        <hr>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Release Date
                <span class="badge badge-pill badge-dark">@Model.ReleaseDate.Value.ToShortDateString()</span>
            </li>

            <li class="list-group-item">
                Run Time
                <span class="badge badge-pill badge-dark">@Model.RunTime.Value m</span>
            </li>
            <li class="list-group-item">
                Box Office
                <span class="badge badge-pill badge-pill badge-dark">
                    @Model.Revenue?.ToString("C0")
                </span>
            </li>

            <li class="list-group-item">
                Budget
                <span class="badge badge-pill badge-dark">
                    @Model.Budget?.ToString("C0")
                </span>
            </li>

            <li class="list-group-item">
                Return to Home Page
            </li>

        </ul>
    </div>

    <div class="col-4 offset-1">
        <h5>CAST</h5>

        <table class="table">

            <tbody>


                @foreach (var cast in Model?.Casts)
                {
                    <tr>
                        <td>
                            <img src="@cast.ProfilePath"
                                 class="cast-small-img rounded-circle"
                                 alt="@cast.Name">
                        </td>
                        <td> @cast.Name </td>
                        <td> @cast.Character</td>
                    </tr>
                }


            </tbody>
        </table>

    </div>
</div>